<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freshjuice.monomer.priority.mapper.UserRoleMapper">
	
	<select id="listByUserId" parameterType="java.lang.Long" resultType="com.freshjuice.monomer.priority.entity.UserRole">
        select id, user_id userId, role_id roleId, remark
        from user_role
        where user_id = #{value}
    </select>
	
</mapper>